body, html {
  font-family: 'Caudex', serif;
  background: #fff; }

.nav, .navbar {
  height: 50px;
  border: none;
  border-radius: 0;
  background-color: transparent; }

.menu {
  transition: 0.1s; }

.nav a {
  color: #222;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif; }
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #ff0040;
  background-color: transparent; }

/*#parallax1 {
	width: 100%;
	max-height: 100%;
	min-height: 50vw;
	height: 65vw;
}*/
.parallaxParent {
  height: 65vw;
  overflow: hidden;
  max-height: 100%; }
  .parallaxParent > * {
    height: 200%;
    position: relative;
    top: -100%; }
  .parallaxParent > div {
    background: url(../image/ciseau.jpg) center;
    background-size: 150%; }

.cover {
  position: absolute;
  top: 10%;
  left: 30%; }
  .cover h1 {
    font-size: 22vw;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white; }
  .cover h2 {
    margin: 0;
    color: #ff0040;
    font-weight: bold;
    font-size: 4vw;
    font-family: 'Dancing Script', cursive; }

section h1 {
  font-size: 4rem;
  color: #fff; }
section p {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: small;
  color: #222; }

#about {
  background: url(../image/atelier.jpg) top center fixed no-repeat;
  background-size: 100%; }

.troisieme-quard {
  background-color: rgba(0, 0, 0, 0.5); }
  .troisieme-quard h1 {
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
    color: #fff; }

.conteneurabout {
  background-color: #333;
  padding-bottom: 70px;
  margin-top: 200px;
  margin-bottom: 200px; }
  .conteneurabout h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.3rem;
    font-weight: bolder;
    color: #ff0040; }
  .conteneurabout img.circle {
    border: 2px solid #aaa;
    border-radius: 50%;
    width: 100%;
    max-width: 200px; }
  .conteneurabout p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    color: #777; }
  .conteneurabout span {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(200, 46, 84, 0.71); }
  .conteneurabout div {
    margin-bottom: 60px; }

#cours {
  background: url(../image/atelier2.jpg) top center fixed no-repeat;
  background-size: 120%;
  padding-bottom: 200px; }
  #cours div {
    margin-top: 0;
    margin-bottom: 0; }
  #cours .conteneurcours {
    background-color: #fff;
    padding-bottom: 70px;
    margin-top: 50px; }

.conteneurcours #textcours {
  margin-top: 80px;
  margin-bottom: 80px; }
.conteneurcours h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.3rem;
  font-weight: bolder;
  color: #ff0040; }
.conteneurcours img.circle {
  border: 2px solid #aaa;
  border-radius: 50%;
  width: 100%;
  max-width: 200px; }
.conteneurcours p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: #222; }
.conteneurcours span {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(200, 46, 84, 0.71); }
.conteneurcours div {
  margin-bottom: 60px; }
.conteneurcours .mosaicflow__column {
  float: left; }
.conteneurcours .mosaicflow__item {
  margin: 0; }
  .conteneurcours .mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto; }

#contact {
  padding-bottom: 200px; }
  #contact > div {
    margin-bottom: 200px; }
  #contact .input {
    margin-top: 50px;
    margin-bottom: 50px; }
    #contact .input input {
      height: 70px; }
  #contact textarea {
    height: 300px; }

/*# sourceMappingURL=style.css.map */
