body, html {
	height: 100%;
	font-family: 'Caudex', serif;
	background: #fff url(../image/grey_wash_wall.png) repeat;
}

.nav, .navbar {
	height: 50px;
	border: none;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}

.menu {
	transition: 0.1s;
}

.nav {
	a {
		color: #777;
		font-size: 20px;
		font-weight: normal;
		font-family: 'Oswald', sans-serif;
	}

	> li > a {
		&:hover, &:focus {
			text-decoration: none;
			color: #ff0040;
			background-color: rgba(0, 0, 0, 0);
		}
	}
}

#accueil {
	width: 100%;
	max-height: 100%;
	min-height: 50vw;
	height: 65vw;
}
.section {
	background: url(../image/ciseau.jpg) no-repeat #000;
	background-size:100%; }
	
	.section .inner {
		background: url(../image/ciseau.jpg) no-repeat;
		background-size:100%; }

#cover {
	background-color: rgba(255, 255, 255, 0);
	height: 100%;
	padding-top: 5%;
	padding-bottom: 10%;

	h1{
		font-size: 22vw;
		font-family: 'Oswald', sans-serif;
		font-weight: bold;
		color: white
	}

	h2 {
		margin: 0;
		color: #ff0040;
		font-weight:bold;
		font-size: 4vw;
		font-family: 'Dancing Script', cursive;
	}
}

section {
	h1 {
		font-size: 4rem;
		color:#fff;
	}

	p {
		font-family: verdana,arial,helvetica,sans-serif;
		font-size: small;
		color: #222;
	}
}

.troisieme-quard {
	background-color:rgba(0,0,0,0.5);
	h1 {
		font-family: 'Oswald', sans-serif;
		margin-top:50px;
		margin-bottom:50px;
		font-size: 4rem;
		color:#fff;
	}
}

.second-quard{
	background-color: #333;
	padding-bottom: 70px;

	h2{
		font-family: 'Dancing Script', cursive;
		font-size: 3.3rem;
		font-weight: bolder;
		color: #ff0040;
	}

	img.circle {
		border:2px solid #aaa;
		border-radius: 50%;
		width: 100%;
		max-width: 200px;
	}

	p {
		font-family: 'Oswald', sans-serif;
		font-size: 1.3rem;
		color: #777;
	}

	span{
		font-family: 'Oswald', sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		color: rgba(#c82e54, 0.71);
	}

	div{
		margin-bottom: 60px;
	}
}

#about {
	background:url(../image/atelier.jpg) fixed;
	background-size:100%;
}
